/* ex:set sw=2 ts=8 wm=0:
 * $Header: u:/rcs/cv/rcs/iccv.rc 2.3 1994/11/01 09:48:41 bog Exp $

 * (C) Copyright 1992-1994 Radius, Inc.
 * All rights reserved

 * This source code and any compilation or derivative thereof is the
 * sole property of Radius, Inc. and is provided pursuant to a Software
 * License Agreement.  This code is the proprietary information of
 * Radius and is confidential in nature.  Its use and dissemination by
 * any party other than Radius is strictly limited by the confidential
 * information provisions of the Agreement referenced above.

 * $Log: iccv.rc $
 * Revision 2.3  1994/11/01 09:48:41  bog
 * Update to Radius.
 * Revision 2.2  1993/06/17  11:39:01  geoffs
 * Fix up dialog box.
 * 
 * Revision 2.1  93/06/17  08:51:31  timr
 * Add stringtable resources for szName and szDescription.
 * 
 * Revision 2.0  93/06/01  14:15:42  bog
 * Version 1.0 Release 1.3.0.1 of 1 June 1993.
 * 
 * Revision 1.2  93/04/21  15:49:46  bog
 * Fix up copyright and disclaimer.
 * 
 * Revision 1.1  92/10/28  13:27:07  geoffs
 * Initial revision
 */

#include <windows.h>
#include "iccv.h"
#include "iccv.ver"

#include "config.dlg"

STRINGTABLE
BEGIN
	IDS_NAME	"Cinepak Codec"
	IDS_DESCRIPTION	"Cinepak Codec by Radius"
	IDS_VERSION	"Version "
END
